@model NotificationsExtensions.ToastContent.IToastText03

@{
    var viewData = (PushNotification.WebSites.Web.ViewModel.NotificationTemplateViewModel)ViewBag.ViewData;
}
@using (Ajax.BeginForm(
        "SendNotification",
        new AjaxOptions
        {
            OnSuccess = string.Format("UpdateNotificationStatus(data, status, xhr, '{0}_{1}')", viewData.ApplicationId, viewData.DeviceId),
            LoadingElementDuration = 1200,
            LoadingElementId = string.Format("sending_{0}_{1}", viewData.ApplicationId, viewData.DeviceId),
            HttpMethod = "POST"
        }))
{
    @Html.Hidden("ChannelUrl", (string)viewData.ChannelUrl)
    @Html.Hidden("NotificationType", (string)viewData.NotificationType)
    @Html.Hidden("NotificationTemplateType", (string)viewData.NotificationTemplateType)

    <fieldset>
        <p>One string of bold text wrapped across the first and second lines, one string of regular text on the third line.</p>
    
        <div class="editor-label">
            <label>Bold text</label>
        </div>
        <div class="editor-field">        
            @Html.TextAreaFor(m => m.TextHeadingWrap.Text)
        </div>

        <div class="editor-label">
            <label>Regular text</label>
        </div>
        <div class="editor-field">        
            @Html.TextBoxFor(m => m.TextBody.Text)
        </div>

        <div class="editor-label">
            @Html.CheckBox("AudioEnabled", false, new { onclick = "toggleAudioSelector()" })
            <label>Replace Audio:</label>
        </div>
        <div class="editor-field">
            <div class="imgPreview">
                @Html.DropDownListFor(m => m.Audio.Content, new SelectList(viewData.ToastAudioContent), new { id = "AudioSelector", disabled = true })
            </div>
        </div>

        <div class="editor-label">
            <label>Notification Priority:</label>
        </div>
        <div class="editor-field">
            @Html.DropDownList("Priority", new SelectList(viewData.Priorities));
        </div>
    </fieldset>
}
